<!DOCTYPE html>
<html>
<head>
    <title>Airport Weather Monitor v3</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ asset('css/leaflet.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('css/map.min.css') }}"/>
</head>
<body>
<div id="map"></div>
<script>
    var destinationWeather = '{{ path('weather_json_actual') }}';
    var alternateWeather = '{{ path('weather_json_actual', { alternate : 1}) }}';
    var oldMetar = '{{ path('weather_json_old') }}';
</script>
<script src="{{ asset('js/jquery.min.js') }}"></script>
<script src="{{ asset('js/spin.min.js') }}"></script>
<script src="{{ asset('js/leaflet.min.js') }}"></script>
<script src="{{ asset('js/leaflet.ajax.min.js') }}"></script>
<script src="{{ asset('js/leaflet.spin.min.js') }}"></script>
<script src="{{ asset('js/weather.leaflet.js') }}"></script>
</body>
</html>
